/* TODO: 

 - sloji istinski postove
 - promeni logo
 - cropni snimkite pravilno
 - prevurni cvetovete v promenlivi
 - smeni shrifta
 - promeni saita za po-golqma rezoliuciq (144hz monitori)

/* general formatting */

* {
    box-sizing: border-box;
}

html, body {
    background: #faf7ee;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 /*, logo?*/ {
    font-family: sans-serif;
    margin: 5px;
    color: #333030;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    text-transform: none;
}

.clearfix::after {
    content: '';
    display: block;     
    clear: both;
}

/* 'float' obekti izlizat ot granicite na roditelq div i toi ne se orazmerqva bez clearfix*/

.btn {
    padding: 0.5rem 1rem;
    background: #35bbe0;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn:hover {
    color: white !important; 
    background: #2a849c;    
}
.fa-calendar {
    font-size: 0.9em;
}

.text-input {
    padding: 0.7rem 1rem;
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: #444;
    line-height: 1.5rem;
    font-family: sans-serif;
    font-size: 1.05em;
}


/* Logo */

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: inherit;
}

.logo-png {
    margin-left: 20px;
    height: 45px;
}

.logo-text {
    color: white;
}

header .logo-text {
    margin-left: 10px;
}

header .logo-text span {
    color: rgb(0, 62, 143)
}

/* Nav Bar */

header {
    height: 63px;
    background: #82dcf7;
}

header * {
    color: white;
}

header ul {
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li {
    float: left;
    position: relative;
}

.fa-chevron-down {
    font-size: 0.6em;
}

header ul li a {
    display: block;
    padding: 21px;
    font-size: 1.1em;
    text-decoration: none;
}

header ul li a:hover {
    background: #35bbe0;
    transition: 0.5s;
}

/* dropdown menu */

header ul li ul {
    position: absolute;
    top: 63px;
    width: 180px;
    z-index: 1000;
    display: none;
}

header ul li:hover ul {
    display: block;
    transition: 0.5s;
}

header ul li ul li {
    background:#fffce6;
    width: 100%;
    
}

header ul li ul li a {
    color: gray;
    background: #faf7ee;
}

header ul li ul li a:hover {
    background: #e7e9e9;
    transition: 0.5s;
}

header .toggle-menu {
    display: none;
}

/* MAIN */

.wrapper {
    min-height: 100%;
}

.wrapper a:hover {
    color: #35bbe0;
}

/* Post Slider */


.post-slider .slider-title {
    text-align: center;
    margin: 40px auto;
} 

.post-slider .prev {
    position: absolute;
    top: 37%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .next {
    position: absolute;
    top: 37%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 370px;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}

.post-slider .post-wrapper .post {
    display: inline-block;
    width: 300px;
    height: 350px;
    margin: 0px 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #afaea4;
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-info h4 {
    margin-top: 15px;
}

.post-info h4 a {
    font-style: bolder;
    color: inherit;
    font-size: 1.3em;;
    text-decoration: none;
}

.post-info .fa-user {
    margin-top: 10px;
}

.post-info .fa-calendar {
    margin-top: 10px;
}



/* Content */

.content-wrapper {
    width: 90%;
    margin: 30px auto 30px;
}

.content-wrapper .main-content {
    width: 70%;
    float: left;
}


.main-content .recent-posts-title {
    margin: 20px;
}

.main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    background: white;
    position: relative;
}

.main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 30px;
    border: 1px solid #35bbe0;
    background: transparent;
    color: #35bbe0 !important;
    font-weight: 600;
}

.main-content .post .read-more:hover {
    background: #35bbe0;
    color: white !important;
    transition: .25s;;
}

.main-content .post .post-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.main-content .post .post-preview i {
    padding: 15px 0;
}

.main-content .post .post-preview .text-preview {
    font-size: 1.1em;
}

.content-wrapper .sidebar {
    width: 30%;
    height: 300px;
    float: right;
}

.content-wrapper .sidebar .section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content-wrapper .sidebar .section-title {
    margin: 15px 0px;
}

.content-wrapper .sidebar .section.search {
    margin-top: 80px;
}

.content-wrapper .sidebar .section.topics ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;    

}

.content-wrapper .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s; 
}

.content-wrapper .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all/*?*/ 0.3s;
}


/* Footer */

.footer {
    background: #333030;
    color: #dfdfdf;
    height: 400px;
    position: relative;
}

.footer h2 {
    color: #ffffff;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer-content .footer-section {
    flex: 1;
    padding: 25px;
}



.footer .footer-bottom {
    display: flex;
    background: #3f4446;
    color: #858484;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
}




/* Media Queries */

@media only screen and (max-width: 750px) {
    header {
        position: relative;
    }
    
    header .toggle-menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 18px;
        font-size: 1.8em;
        cursor: pointer;
    }

    header .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        height: inherit;
    }
    
    .logo-png {
        margin-left: 20px;
        height: 45px;
    }
    
    header .logo-text {
        margin-left: 10px;
    }
    
    header .logo-text span {
        color: #003e8f
    }

    header ul {
        width: 100%;
        background: #087697;
        max-height: 0px;
        overflow: hidden;
    }

    .showing {
        max-height: 100em;
    }

    .move-down {
        position: absolute;
        top: 50%;
    }

    header ul li {
        width: 100%;
    }

    header ul li ul {
        position: static;
        display: block;
        width: 100%;
    }
    
    header ul li ul li {
        width: 100%;
    }
    
    header ul li ul li a {
        padding: 15px; 
        background: #087697;
        color:aliceblue;
        padding-left: 40px;
    }

    header ul li ul li a:hover {
        background: #35bbe0;
        transition: 0.5s;
    }

    
    
}
